{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome, {{ username }}!</p>
<p>Book your vacation</p>
<form action="{{ url_for('book_vacation') }}" method="post">
    <div class="elem-group">
      <label for="name">Your Name</label>
      <input type="text" id="name" name="name" placeholder="John Doe" pattern=[A-Z\sa-z]{3,20} required>
    </div>
    <div class="elem-group">
      <label for="email">Your E-mail</label>
      <input type="email" id="email" name="email" placeholder="john.doe@email.com" required>
    </div>
    <div class="elem-group">
      <label for="phone">Your Phone</label>
      <input type="tel" id="phone" name="phone" placeholder="4983483872" required>
    </div>
    <hr>
    <div class="elem-group inlined">
      <label for="adult">Adults</label>
      <input type="number" id="adult" name="adults" placeholder="2" min="1" required>
    </div>
    <div class="elem-group inlined">
      <label for="checkin-date">Check-in Date</label>
      <input type="date" id="checkin-date" name="checkin" required>
    </div>
    <div class="elem-group inlined">
      <label for="checkout-date">Check-out Date</label>
      <input type="date" id="checkout-date" name="checkout" required>
    </div>
    <hr>
    <div class="msg">{{ msg }}</div>
    <button type="submit">Book The Rooms</button>
  </form>
  <p>Here is our location</p>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmKQ9BW6zONrJkO797LieMu1vJIoH4d_Q"></script>

  <div id="map" style="width:300px; height:400px;"></div>
  <div>
    <label for="start">Start:</label>
    <input type="text" id="start">
    <label for="end">End:</label>
    <input type="text" id="end">
    <button onclick="calculateRoute()">Get Directions</button>
  </div>
  <script>
    var directionsService, directionsRenderer;

    function initMap() {
      directionsService = new google.maps.DirectionsService();
      directionsRenderer = new google.maps.DirectionsRenderer();
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: {lat: 45.657974, lng: 25.601198}
      });
      directionsRenderer.setMap(map);

      var marker = new google.maps.Marker({
        position: {lat: 45.657974, lng: 25.601198},
        map: map,
        title: 'Brasov'
      });  


    }

    function calculateRoute() {
      var start = document.getElementById('start').value;
      var end = document.getElementById('end').value;
      var request = {
        origin: start,
        destination: end,
        travelMode: 'DRIVING'
      };
      directionsService.route(request, function(result, status) {
        if (status == 'OK') {
          directionsRenderer.setDirections(result);
          }
        });
      }
    
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmKQ9BW6zONrJkO797LieMu1vJIoH4d_Q&callback=initMap"
      async defer></script>

{% endblock %}